<script type="text/javascript">
function show_insights(){
   var camp_id = jQuery("#mobile_campaigns_leads").val();
   console.log(camp_id);
   if (camp_id != ""){
   jQuery.ajax({
      url: "<%=SITE_URL%>/member/campaigns/mobile/leads_graph",
      type: "POST",
      dataType: 'text',
      data: "camp_id="+camp_id,
      cache: false,
      beforeSend: function(){ 
      jQuery("#leads_graph_area").html('<img src="/images/socialapps/loading.gif"  style="margin-left:600px;margin-top:200px;height:30px;width:30px;"/>')},
      success: function(response){ 
      jQuery("#leads_graph_area").html(response); }
   });}
}  
</script>
<h1>Leads</h1>
<div class="insights">
   <% if !@mobile_campaigns.blank? %>
      <div class = "campaigns">
         <label> Select Campaign </label>
         <select id="mobile_campaigns_leads" onchange="show_insights();">
            <option value=""> Select Campaign</option>
            <% @mobile_campaigns.each do |camp|%>
               <option value="<%=camp.id%>"> <%= camp.title %> </option>
            <% end %>           
         </select>      
      </div>    
   <% end %>
   <!-- Graphs starts from here -->
   <div id="leads_graph_area" style =" margin-top:1%;"></div>
</div>

