<div id="middle">
  <div class="banner">
    <div class="banneroneforth">
      <h1>Feedback widget for your Website & Mobile App</h1>
      <p>Get Feedback from your customers and resolve their queries. You can use
        our form designer to collect desired data as well as control where to show
        this using audience targeting. You will also see in depth analytics on user
        behavior related to Feedback tab. </p>

      <% if current_user.blank? %>
        <a class="button-img" href="/">Start</a>
      <% else %>
        <a class="button-img" href="/member/campaigns/web">Configure</a>
      <% end %>
    </div>
    <div class="banneronethird">
        <div id="slides">
          <div class="slides_container">
            <div class="slide">
                <a href="#" target="_blank"></a>
	      	<img src="https://s3.amazonaws.com/fbappshq-assets/datas/71049/large.png" />
            </div>
            <div class="slide">
                <a href="#" target="_blank"></a>
		<img src="https://s3.amazonaws.com/fbappshq-assets/datas/71046/large.png">
            </div>
          </div>
        </div>

    </div>
  </div>
  <div class="content">
    <div class="features-hig"><h2>Features Highlights</h2>
      <div class="app-feature">
        <ul>
          <li>
            <h5>Easy Integration</h5>
            <p>Include our JavaScript/Android SDK file once and then you can run any number of feedback forms on your site without ever having to bother engineering team. </p>
          </li>
          <li>
            <h5>Audience Groups</h5>
            <p>Create custom audience groups and show feedback form to a select group of users e.g. Users who went to pricing page and then left it.</p>
          </li>
          <li>
            <h5>Custom Styling</h5>
            <p>You can change look and feel of the running campaigns almost instantly by simply going to dashboard and click on few links. </p>
          </li>
          <li>
            <h5>Export & Analyze</h5>
            <p>
              All queries will be routed to desired email address as well as you will have an option to export them at any time. You can also see in depth analytics on Feedback form usage.
            </p>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>
