<script type="text/javascript" src="https://www.socialappshq.com/javascripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="https://www.socialappshq.com/javascripts/ckeditor/adapters/jquery.js"></script>

<style>
.login {width:100% !important}
</style>
<!--start middle part -->
<div id="middle">
  <div class="imp">
    <h1>New<br/>
    <!-- subtitle  <span></span> -->
    </h1>
  </div>
<div class="inmid">
<div class="bradculam"><p><a href="/">Home </a> <img src="/images/socialapps/arow.png" alt="" />  New</p></div>
</div>
<div class="materdiv">
<h2>New</h2>
<div class="dataentry">
 <form action="/admin/home/create" method="POST">
  <p><b>Title</b><br>
  <input id="node_title" name="node[title]" size="150"
         type="text" />
  </p>
  <p><b>Title Tag</b><br>
  <input id="node_title_tag" name="node[title_tag]" size="150"
         type="text" />
  </p>
  <p><b>Body</b><br>
  <textarea cols="300" name="node[body]" id="editor1"
         rows="30" wrap="virtual">

  </textarea>
  </p>
  <script type="text/javascript">
            config =  {
                fullPage : true,
   		filebrowserBrowseUrl : '/feature/upload_images/index_from_ckeditor',
        //	filebrowserUploadUrl : '/uploader/upload.php'
                toolbar_Full : [
                    ['Source', '-', '-', '-'],
                    ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', '-', 'SpellChecker'], //, 'Scayt'
                    ['Undo', 'Redo', '-', 'Find', 'Replace', '-', 'SelectAll', 'RemoveFormat'],
                    ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'],
                    '/',
                    ['Bold', 'Italic', 'Underline', 'Strike', '-', 'Subscript', 'Superscript'],
                    ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', 'Blockquote'],
                    ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                    ['Link', 'Unlink', 'Anchor'],
                    ['Image','Flash','Table','HorizontalRule','Smiley','SpecialChar'],
                    '/',
                    ['Styles', 'Format', 'Font', 'FontSize', 'Templates'],
	            ['TextColor','BGColor'],
                    ['Maximize', 'ShowBlocks']
                  ]
                  }
            jQuery('#editor1').ckeditor(config);

        </script>

  <p><b>Meta Keywords</b><br>
  <input id="node_meta_keywords" name="node[meta_keywords]" size="150"
         type="text" />
  </p>
  <p><b>Meta Description (Shows on Share text of FB share)</b><br>
  <input id="node_meta_descriptions" name="node[meta_descriptions]" size="150"
         type="text" />
  </p>

  <p><b>Share Image URL (Shows on Share text of FB share)</b><br>
  <input id="node_meta_image" name="node[share_image]" size="150"
         type="text" />
  </p>

  <p><b>Deleted ?</b><br>
  <input id="node_deleted" name="node[deleted]" size="1"
         type="text" value="0"/>
  </p>
  <p><b>Is Active ?</b><br>
  <input id="node_deleted" name="node[is_active]" size="1"
         type="text" value="1"/>
  </p>

  <p><b>Root path</b><br>
  <input id="node_root_path" name="node[root_path]" size="150"
         type="text"/>
  </p>
  <p><b>Action path</b><br>
  <input id="node_action_path" name="node[action_path]" size="150"
         type="text"/>
  </p>
  <p><b>Layout</b><br>
  <input id="node_layout" name="node[layout]" size="150"
         type="text"/>
  </p>

  <p><b>Breadcrumb</b><br>
  <input id="node_layout" name="node[breadcrumb]" size="150"
         type="text"/>
  </p>
  <input type="submit" value="Create" />
 </form>

</div>
</div>


</div>

</div>
</div>
<!--end middle part -->

