<style>
  #content {font: inherit;vertical-align: baseline;color: #555;font-size: 14px;line-height: 24px;float: right;position: relative;margin: 0 18px 0 0;border: 1px solid #CCCCCC;padding: 10px;border-radius: 8px;;width: 640px;}
  .top-heading {padding:10px 0 !important;line-height: 50px;}
  #content img {border: 1px solid #ccc;padding: 5px;border-radius: 7px;margin: 6px 0 0 0;}
</style>
<%= render :partial=>"/integrations/instructions_left_menu" %>
<div id="content">
  <h1 class="top-heading">Integrate UsersDelight with your Tumblr blog</h1>
  <div class="content-section-data">
    <p>If you are not signed up with UsersDelight already, you'll need to do so. Please sign up and create a widget for
      your Tumblr blog first. <a href="/pricing">Select a plan and sign-up</a> now.</p>

    <p>Follow these steps to add UsersDelight integration code to your blog:</p>

    <h2>1. Customize your blog theme</h2>
    <div class="we-thumbnail-container" align="center">
      <img src="//d3701cc9l7v9a6.cloudfront.net/images/v1/platform/tumblr-1.jpg" height="200" width="600"/>
      <div class="caption">Tumblr dashboard &gt; Customize</div>
    </div>

    <h2>2. Edit HTML</h2>
    <div class="we-thumbnail-container" align="center">
      <img src="//d3701cc9l7v9a6.cloudfront.net/images/v1/platform/tumblr-2.jpg" height="287" width="600"/>
      <div class="caption">Customize &gt; Edit HTML</div>
    </div>

    <h2>3. Copy your UsersDelight integration code</h2>
    <div class="we-thumbnail-container" align="center">
      <img src='/images/webcode.png'/>
      <div class="caption">Get it from UsersDelight Dashboard &gt; Website Campaigns &gt; Add website</div>
    </div>

    <h2>4. Paste into Tumblr's HTML and save</h2>
    <div class="we-thumbnail-container" align="center">
      <img src="//d3701cc9l7v9a6.cloudfront.net/images/v1/platform/tumblr-3.jpg" height="450" width="600">
      <div class="caption">Paste the code just before closing body tag <code>&lt;/body&gt;</code></div>
    </div>

    <p>
      That's it! Your Tumblr blog is now UsersDelight ready. You can customize Feedback options, create
      new Surveys and new Notifications in your UsersDelight Dashboard. No code changes are needed on your blog.
    </p>
    Note: SSL support is only available for customers subscribed to the <a href="/pricing">Basic plan</a> or higher.
  </div>
</div>